@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
    /* Primary */
    ---primary-soft-red: hsl(10, 79%, 65%);
    ---primary-cyan: hsl(186, 34%, 60%);

    /* Neutral */
    ---neutral-dark-brown: hsl(25, 47%, 15%);
    ---neutral-medium-brown: hsl(28, 10%, 53%);
    ---neutral-cream: hsl(27, 66%, 92%);
    ---neutral-very-pale-orange: hsl(33, 100%, 98%);

    /* Weight */
    ---font-weight-light: 400;
    ---font-weight-bold: 700;

    ---font-base: "DM Sans", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(---neutral-cream);
    font-family: var(---font-base);
}

.expenses-chart-component {
    width: 30%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-balance {
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    background-color: var(---primary-soft-red);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.my-balance .content p {
    margin-bottom: 5px;
    color: var(---neutral-cream);
    font-size: 0.85rem;
}


.my-balance .content h2 {
    color: var(---neutral-very-pale-orange);
    font-size: 1.4rem;
    font-weight: var(---font-weight-bold);
}

.my-balance .logo img {
    width: 3.2rem;
}


.expenses-chart {
    width: 100%;
    background-color: var(---neutral-very-pale-orange);
    padding: 1.5rem;
    border-radius: 20px;
}

.top-content {
    margin-bottom: 2rem;
}

.top-content h2 {
    font-weight: var(---font-weight-bold);
    margin-bottom: 20px;
    font-size: 1.35rem;
}



.middle-content {
    width: 100%;
    border-bottom: 0.5px solid #d8d8d8;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.middle-content .charts {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.charts .chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}

.bars {
    width: 35px;
    height: 1.5rem;
    background-color: var(---primary-soft-red);
    border-radius: 3px;
    animation: bar 2s ease;
}

.cyan_color {
    background-color: var(---primary-cyan);
}

.highest {
    height: 7rem;
}

.second_high {
    height: 6rem;
}

.third_high {
    height: 5rem;
}

.fourth_high {
    height: 4rem;
}

.fifth_high {
    height: 3rem;
}

.six_high {
    height: 2.5rem;
}

@keyframes bar {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.day {
    color: var(---neutral-medium-brown);
    font-weight: var(---font-weight-light);
    font-size: 0.85rem;
    margin-top: 5px;
}


.amount {
    width: 100%;
    position: absolute;
    font-size: 0.7rem;
    background-color: var(---neutral-cream);
    padding: 2px;
    opacity: 0;
}

.amount::after {
    content: '';
    position: absolute;
}

.chart:hover {
    cursor: pointer;
}

.chart:hover .amount {
    opacity: 1;
}





.bottom-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.left-side p, .right-side p:last-child {
    color: var(---neutral-medium-brown);
    font-size: 0.85rem;
    font-weight: var(---font-weight-light);
}

.left-side h2, .right-side p:first-child {
    color: var(---neutral-dark-brown);
    font-weight: var(---font-weight-bold);
}

.left-side h2 {
    font-size: 1.8rem;
}

.right-side p {
    font-size: 0.85rem;
}

.left-side p, .right-side p:first-child {
    margin-bottom: 3px;
}
